<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../public/temp/head") %>
</head>
<body>
    <%- include("../public/temp/nav") %>
    <div class="forms">
      <form action="/login" method="POST" class="needValidation" novalidate>
              <h2>Zaloguj się</h2>
              <label for="login">Login:</label>
              <input type="text" class="form-control mb-4" id="login" name="login" required>
              <label for="haslo">Hasło:</label>
              <input type="password" class="form-control mb-4" id="haslo" name="password" required>
              <button class="btn btn-success mb-2">Zaloguj się</button>
      </form>
      <a href="/register">Nie masz konta? Zarejestruj się</a>
    </div>
    <script>
        (() => {
    'use strict'
    const forms = document.querySelectorAll('.needValidation')
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => 
      {
        if (!form.checkValidity()) 
        {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
  })()
    </script>
</body>
</html>